<!-- register-modal.html -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true"
     th:fragment="registerModal">
    <div class="modal-dialog">
        <div class="modal-content modal-register-box">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Rejestracja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body modal-register-content">
                <form id="registerForm">
                    <input type="text" class="form-control mb-2" name="username" placeholder="Nazwa użytkownika" required>
                    <input type="email" class="form-control mb-2" name="email" placeholder="Email" required>
                    <input type="email" class="form-control mb-2" name="confirmEmail" placeholder="Powtórz email" required>
                    <input type="password" class="form-control mb-2" name="password" placeholder="Hasło" required>
                    <input type="password" class="form-control mb-2" name="confirmPassword" placeholder="Powtórz hasło" required>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="termsAccepted" id="termsAccepted" required>
                        <label class="form-check-label" for="termsAccepted">
                            Akceptuję regulamin
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
                </form>
            </div>
        </div>
    </div>
</div>
